{% extends "base.html" %}
{% block title %}
Gia phả dạng đứng
{% endblock %}
{% block body %}
<style>
    .dropbtn {
        /*color: white;*/
        border: none;
        cursor: pointer;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        /*display: inline-block;*/
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        top: 2em;
        left: 199px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 9999;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 0 0 0 1.5em !important;
        line-height: 50px;
        margin: 0;
        padding: 0 4em;
        list-style: none;
        text-decoration: none;
        color: #90A4AE;
        font-weight: 100;

    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
    }
</style>
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Phả đồ</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Phả đồ dạng đứng
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="multi-level card">
                            {{inGiaPhaDangDung(null)}}
                            <!-- Do qua trinh in cay gia pha bi thieu nen them 2 them </div>-->
                        </div>
                    </div>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;"
                     id="chinhSuaNhanh">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span
                                        aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myModalLabel">Chỉnh sửa hồ sơ</h4></div>
                            <div class="modal-body">
                                <h4 style="text-align: center">Chỉnh sửa nhanh</h4>
                                <form action="#" class="form-horizontal form-label-left">
                                    <div class="form-group"><label for="hoten"
                                                                   class="control-label col-md-3 col-sm-3 col-xs-12">Họ
                                        và tên</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12"><input id="hoten"
                                                                                        class="form-control col-md-7 col-xs-12"
                                                                                        type="text" name="hoten"
                                                                                        value="{{hoSo.HoTen}}">
                                        </div>
                                    </div>
                                    <div class="form-group"><label
                                            class="control-label col-md-3 col-sm-3 col-xs-12">Giới tính</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div id="gender" class="btn-group" data-toggle="buttons"><label
                                                    class="btn btn-default" data-toggle-class="btn-primary"
                                                    data-toggle-passive-class="btn-default"> <input type="radio"
                                                                                                    name="gender"
                                                                                                    value="male"
                                                                                                    data-parsley-multiple="gender">
                                                &nbsp; Nam &nbsp; </label> <label class="btn btn-primary"
                                                                                  data-toggle-class="btn-primary"
                                                                                  data-toggle-passive-class="btn-default">
                                                <input type="radio" name="gender" value="female"
                                                       data-parsley-multiple="gender"> &nbsp; Nữ &nbsp; </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group"><label
                                            class="control-label col-md-3 col-sm-3 col-xs-12">Ngày sinh <span
                                            class="required">*</span> </label>
                                        <div class="col-md-9 col-sm-9 col-xs-12"><input id="ngaysinh"
                                                                                        class="date-picker form-control col-md-7 col-xs-12"
                                                                                        required="required"
                                                                                        type="date"
                                                                                        value="{{hoSo.NgaySinh}}">
                                        </div>
                                    </div>
                                    <div class="form-group"><label
                                            class="control-label col-md-3 col-sm-3 col-xs-12">Quê quán <span
                                            class="required">*</span> </label>
                                        <div class="col-md-9 col-sm-9 col-xs-12"><input id="birthday"
                                                                                        class="date-picker form-control col-md-7 col-xs-12"
                                                                                        required="required"
                                                                                        type="text"
                                                                                        value="{{hoSo.QueQuan}}">
                                        </div>
                                    </div>
                                    <div class="form-group"><label
                                            class="control-label col-md-3 col-sm-3 col-xs-12">Đời thứ <span
                                            class="required">*</span> </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12"><input id="doithu"
                                                                                        class="date-picker form-control col-md-7 col-xs-12"
                                                                                        required="required"
                                                                                        type="text"
                                                                                        value="{{hoSo.DoiThu}}">
                                        </div>
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Con thứ <span
                                                class="required">*</span> </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12"><input id="conthu"
                                                                                        class="date-picker form-control col-md-7 col-xs-12"
                                                                                        required="required"
                                                                                        type="text"
                                                                                        value="{{hoSo.ConThu}}">
                                        </div>
                                    </div>
                                    <div class="form-group"><label
                                            class="control-label col-md-3 col-sm-3 col-xs-12">Email <span
                                            class="required"></span> </label>
                                        <div class="col-md-9 col-sm-9 col-xs-12"><input id="birthday"
                                                                                        class="date-picker form-control col-md-7 col-xs-12"
                                                                                        required="required"
                                                                                        type="text"
                                                                                        value="{{hoSo.Email}}">
                                        </div>
                                    </div>
                                    <div class="form-group"><label
                                            class="control-label col-md-3 col-sm-3 col-xs-12">Địa chỉ liên hệ <span
                                            class="required"></span> </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12"><input id="birthday"
                                                                                        class="date-picker form-control col-md-7 col-xs-12"
                                                                                        required="required"
                                                                                        type="text"
                                                                                        value="{{hoSo.DiaChi}}">
                                        </div>
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">SĐT <span
                                                class="required"></span> </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12"><input id="birthday"
                                                                                        class="date-picker form-control col-md-7 col-xs-12"
                                                                                        required="required"
                                                                                        type="text"
                                                                                        value="{{hoSo.SDT}}"></div>
                                    </div>
                                    <div class="ln_solid"></div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                <button type="button" id="btnUpdate" class="btn btn-primary">Lưu thay đổi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- /page content -->

{% endblock %}
{% block footer %}
<script>
    var base_url = window.location.origin;
    $(document).ready(function () {
        $(".chinhSuaNhanh").click(function (event) {
            event.preventDefault();
            var id = $(this).data('id');
            $.get("/admin/ho-so/" + id + "/getHoSoData", function (data, status) {
                data = JSON.parse(data);
                $("#hoten").val(data.HoTen);
                $("#ngaysinh").val(data.NgaySinh);
                $("#gioitinh").val(data.GioiTinh);
                $("#doithu").val(data.DoiThu);
                $("#conthu").val(data.ConThu);
                $("#quequan").val(data.QueQuan);
//                $("#btnUpdate").attr("href", base_url + "/ho-so/" + data.MaHoSo);
            });
        }, null);

    });
</script>
{% endblock %}
