{% extends "base.html" %}
{% block title %}
Phả đồ dạng cây
{% endblock %}
{% block external_css %}
{% endblock %}
{% block body %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Phả đồ</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Phả đồ dạng cây
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div style="overflow-y: hidden" class="zoomViewport">
                            <div class="tree zoomContainer" style="overflow: hidden;">
                                {{ inGiaPhaDangCay() }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% endblock %}
