{% extends "base_user.html" %}
{% block title %}
Bài viết theo loại tin
{% endblock %}
{% block css %}
<link href="/css/styles.css" rel="stylesheet">
<style>
    button {
        margin: .5em;
        width: 2em;
    }

    table {
        width: 100%;
    }

    .cal1 .clndr .clndr-table tr .day {
        height: 0;
    }

    .clndr .clndr-controls {
        padding: 0 !important;
        line-height: 1.6em;
        font-size: 1em;
        background: linear-gradient(to bottom, rgba(243, 197, 189, 1) 0%, rgba(232, 108, 87, 1) 50%, rgba(234, 40, 3, 1) 51%, rgba(255, 102, 0, 1) 75%, rgba(199, 34, 0, 1) 100%);
    }
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
    }
</style>
{% endblock %}
{% block body %}
<section class="content clearfix">
    <div class="container">
        <div class="search-bar clearfix">
            <ul class="breadcrumb left clearfix">
                <li class="start">
                    <h4>
                        <a href="javascript:void(0);" title="Trang nhất">Danh sách bài viết</a>
                    </h4>
                </li>
            </ul>
        </div>
        <br>
        <div>
            <div style="height: 100px; text-align: center; background-image: url('/images/anh1.jpg'); line-height: 100px; margin-bottom: 2em;">
                <h2><i class="fa fa-address-book"></i> Bài viết theo loại tin</h2>
            </div>
            <div class="container">
                <div class="col-9" style="padding-right: 1em">
                    <div>
                        {% for baiViet in dsBaiViet|slice(0, dsBaiViet|length ) %}
                        <div class="event block-border">
                            <p class="title-events">
                                <a href="/bai-viet/{{baiViet.MaBaiViet}}">{{baiViet.TieuDe}}</a>
                            </p>
                            <div class="thumb-su-kien" style="float: left">
                                <a href="/bai-viet/{{baiViet.MaBaiViet}}">
                                    {% if baiViet.HinhAnh is not null and baiViet.HinhAnh != '' %}
                                    <img style="min-width: 100%; height: 100%; float: left"
                                         src="/images/AnhBaiViet/{{ baiViet.HinhAnh }}" alt="">
                                    {% else %}
                                    <img style="min-width: 100%; height: 100%; float: left"
                                         src="/images/AnhBaiViet/camera.png" alt="">
                                    {% endif %}
                                </a>
                            </div>
                            <small>Ngày viết: {{baiViet.NgayDuaTin|date("d/m/Y")}}</small>
                            <p class="description">{{ rutGonHTML(baiViet.NoiDung) |slice(0, 200) ~ '...' }}</p>
                        </div>
                        <div class="clearfix"></div>
                        {% endfor %}
                    </div>
                    <div id="divtrang" style="margin-left: 36%;" class="pagination">{{urlPagination | raw }}</div>
                </div>
                <div class="col-3 block-border">
                    <div>
                        <ul style="list-style: none">
                            {% for loaiTin in dsLoaiTin %}
                                <li style="display:block; line-height: 2em ;border-bottom: 1px solid #f0f0f0"><a href="/user/LoaiTin/index/{{loaiTin.MaLoaiTin}}"><i class="fa fa-tags"></i> {{loaiTin.TenLoaiTin}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
{% endblock %}