{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}

<h1>Sign up</h1>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block footer %}
<!--<script src="/js/jquery-3.2.1.js"></script>-->
<!--<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>-->
<script src="/js/hideShowPassword.min.js"></script>
<script>
    var user_id = '{{user.id}}';
    $.validator.addMethod('validPassword',
        function(value, element, param) {

            if (value != '') {
                if (value.match(/.*[a-z]+.*/i) == null) {
                    return false;
                }
                if (value.match(/.*\d+.*/) == null) {
                    return false;
                }
            }

            return true;
        },
        'Must contain at least one letter and one number'
    );
    $(document).ready(function() {

        /**
         * Validate the form
         */
        $('#formSignup').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: '/account/validate-email',
                        data: {
                            ignore_id: function () {
                                return user_id;
                            }
                        }
                    }
                },
                password: {
                    required: true,
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: 'email already taken'
                }
            }
        });


        /**
         * Show password toggle button
         */
        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });
    });
</script>

{% endblock %}
<form method="post" action="/signup/create" id="formSignup">

    <div class="form-group">
        <label for="inputName">Name</label>
        <input id="inputName" name="name" placeholder="Name" autofocus value="{{ user.name }}" required class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password" placeholder="Password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" title="Minimum 6 chars, at least one letter and number" class="form-control" />
    </div>
    <!--<div>-->
        <!--<label for="inputPasswordConfirmation">Repeat password</label>-->
        <!--<input type="password" id="inputPasswordConfirmation" name="password_confirmation" placeholder="Repeat password" required />-->
    <!--</div>-->

    <button type="submit">Sign up</button>

</form>

{% endblock %}
