.alert {
    border: 1px solid #ccc;
    padding: 6px;
}

.alert-info {
    background-color: #ddddff;
}

.alert-success {
    background-color: springgreen;
}

.alert-warning {
    background-color: darkorange;
}

.tree {
    min-width: 25000px;
    margin: 50px auto;
}

.tree ul {
    padding-top: 20px;
    position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/

.tree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and
right connector from last child*/

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/

.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li .box-item {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.box-item.die {
    background: linear-gradient(to bottom, grey 0%, lightgrey 100%) !important;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/

.tree li .box-item:hover,
.tree li .box-item:hover + ul li .box-item {
    background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
    color: #000;
    opacity: 1;
    border: 1px solid #94a0b4;
}

/*Connector styles on hover*/

.tree li .box-item:hover + ul li::after,
.tree li .box-item:hover + ul li::before,
.tree li .box-item:hover + ul::before,
.tree li .box-item:hover + ul ul::before {
    border-color: #94a0b4;
}

/* Gia pha dang dung */

.item ul,
.multi-level input[type="checkbox"] {
    display: none;
}

.item input:checked~ul {
    display: block;
}
/*Arrow*/

.arrow {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 17px 1em 0 2em;
}

.item input+ .dropdown .arrow {

    transform: rotate(-90deg);
    transform-origin: 20% 40%;
    transition: 0.1s;
}

.item input:checked+ .dropdown .arrow {
    transform: rotate(0deg);
    transition: 0.1s;
}

.multi-level label:hover {
    cursor: pointer;
}

.multi-level label {
    width: 100%;
    display: block;
    z-index: 3;
    position: relative;
}

.multi-level {
    width: 100%;
    background-color: white;
    overflow-x: hidden;
    border-bottom: 1px solid #CFD8DC;
}

.multi-level ul,
.multi-level li,
.multi-level label {
    line-height: 50px;
    margin: 0;
    padding: 0 2em;
    list-style: none;
    text-decoration: none;
    color: #90A4AE;
    font-weight: 100;
    width: 100%;
}

.item ul {
    padding: 0 0.25em;
}

.multi-level li a {
    line-height: 50px;
    margin: 0;
    padding: 0 4em;
    list-style: none;
    text-decoration: none;
    color: #90A4AE;
    font-weight: 100;
}


/* Het gia pha dang dung */

/* Cay gia pha gan */
.hopTo {
    padding: 0.5em;
    width: 20rem;
    text-align: center;
    vertical-align: middle;
    background-image: url('/images/phado.gif');
    overflow: hidden;
}

.hopNho {
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-image: url('/images/phado.gif');
    overflow: hidden;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
/* Het cay gia pha gan */

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}