@charset "utf-8";
/* CSS Document */

/**
	 * cssTreeMenu
	 * Author: E. Vlieg - Flydesign.nl
	 */


	#treeMenu, #treeMenu ul {
		list-style-type: none;
		background: url(/images/treemenu/tree-branch.gif) repeat-y;
		padding: 0;
		margin: 0;
	}
	
	#treeMenu li {
		padding: 0px;
		padding-left: 18px;
		margin: 2px 0px 2px 0px;
		background: url(/images/treemenu/tree-leaf.gif) no-repeat;
	}
	
	#treeMenu a {
		text-decoration: none;
		color: black;
		padding: 0px 4px 0px 18px;
		background: url(/images/treemenu/folder_grey.png) no-repeat;
		margin: 2px 0px 2px 0px;
		height: auto;
	}
	
	#treeMenu a:hover {
		filter: alpha(opacity=50);
		-moz-opacity:.50;		
	}
	
	#treeMenu .itemOpen {
		background: url(/images/treemenu/tree-node-open.gif) no-repeat;
	}
	
	#treeMenu .itemOpenEnd {
		background: white url(/images/treemenu/tree-node-open-end.gif) no-repeat;
	}	
	
	#treeMenu .itemOpen ul, #treeMenu .itemOpenEnd ul {
		display: block;
	}
	
	#treeMenu .itemOpen a, #treeMenu .itemOpenEnd a {
		background: url(/images/treemenu/folder_grey_open.png) no-repeat;
	}	
	
	#treeMenu .itemClose {
		background: url(/images/treemenu/tree-node.gif) no-repeat;
	}
	
	#treeMenu .itemCloseEnd {
		background: white url(/images/treemenu/tree-node-end.gif) no-repeat;
	}	
	
	#treeMenu .itemClose ul, #treeMenu .itemCloseEnd ul {
		display: none;
	}	
	
	#treeMenu .itemClose a, #treeMenu .itemCloseEnd a {
		background: url(/images/treemenu/folder_grey.png) no-repeat;
	}
	
	#treeMenu li.endItem {
		background: white url(/images/treemenu/tree-leaf-end.gif) no-repeat;
	}
	
	#treeMenu .item a {
		background: url(/images/treemenu/ascii.png) no-repeat;
		padding-right: 2px;
	}
	
	#treeMenu #treeMenuSelect a {
		border: 1px dotted gray;
		background-color: #e2e2e2;
	}
	

	/**
 	 * Defenitions for the icons
 	 */
	#treeMenu .home a {
		background: url(/images/treemenu/home.png) no-repeat;
	}
	
	#treeMenu .home li a {
		background: url(/images/treemenu/html.png) no-repeat;
	}

	#treeMenu .history a, #treeMenu .home .history a {
		background: url(/images/treemenu/history.png) no-repeat;
	}	
	
	#treeMenu .gear a {
		background: url(/images/treemenu/gear.png) no-repeat;
	}
	
	#treeMenu .gear li a {
		background: url(/images/treemenu/ascii.png) no-repeat;
	}