{% extends "base.html" %}
{% block title %}
Chỉnh sửa bài viết
{% endblock %}
{% block body %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Chỉnh sửa bài viết</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <form action="/admin/bai-viet/{{baiViet.MaBaiViet}}/cap-nhat" method="post" class="form-horizontal form-label-left" enctype="multipart/form-data">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Chọn loại tin
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="maLoaiTin">
                                    {% for loaiTin in dsLoaiTin %}
                                        {% if loaiTin.MaLoaiTin == baiViet.MaLoaiTin %}
                                            <option value="{{ loaiTin.MaLoaiTin }} selected">{{loaiTin.TenLoaiTin}}</option>
                                        {% else %}
                                            <option value="{{ loaiTin.MaLoaiTin }}">{{loaiTin.TenLoaiTin}}</option>
                                        {% endif %}

                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tiêu đề
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="tieuDe" required="required" value="{{baiViet.TieuDe}}" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Nội dung
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea name="noiDung" style="width: 100%" rows="10">{{baiViet.NoiDung |raw}}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hinhAnh" class="control-label col-md-3 col-sm-3 col-xs-12">Hình ảnh</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="file" class="form-control-file" name="hinhAnh" id="hinhAnh">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success">Cập nhật bài viết</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /page content -->
<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
<script>CKEDITOR.replace( 'noiDung' );</script>
{% endblock %}
