{% extends "base.html" %}
{% block title %}
Danh sách bài viết
{% endblock %}
{% block body %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Danh sách bài viết</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    {% for baiViet in dsBaiViet %}
                    <div class="media">
                        {% if baiViet.HinhAnh is not null and baiViet.HinhAnh != '' %}
                            <div class="media-left"><a href="#"><img src="/images/AnhBaiViet/{{ baiViet.HinhAnh }}"
                                                                 style="width: 64px; height: 64px;"> </a></div>
                        {% else %}
                            <div class="media-left"><a href="#"><img src="/images/AnhBaiViet/camera.png"
                                                                 style="width: 64px; height: 64px;"> </a></div>
                        {% endif %}
                        <div class="media-body"><h4 class="media-heading">{{ baiViet.MaBaiViet }} - {{baiViet.TieuDe
                            }} <a class="btn btn-primary btn-sm" href="/admin/bai-viet/{{ baiViet.MaBaiViet }}/get-sua-bai-viet"><i class="fa fa-edit"></i> Chỉnh sửa</a><button class="btn btn-primary btn-sm"><i class="fa fa-delicious"></i> Xóa</button></h4> {{ baiViet.NoiDung | striptags | slice(0, 200) ~ '...' }}
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% endblock %}
