{% extends "base.html" %}
{% block title %}
Danh sách bài viết
{% endblock %}
{% block body %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Danh sách bài viết</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th width="10%">Ảnh</th>
                            <th width="30%">Tiêu đề</th>
                            <th>Ngày viết</th>
                            <th>Tác giả</th>
                            <th width="10%">Hành động</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for baiViet in dsBaiViet %}
                        <tr>

                            <th scope="row">{{ baiViet.MaBaiViet }}</th>
                            <td>
                                {% if baiViet.HinhAnh is not null and baiViet.HinhAnh != '' %}
                                <div class="media-left"><a href="#"><img src="/images/AnhBaiViet/{{ baiViet.HinhAnh }}"
                                                                         style="width: 64px; height: 64px;"> </a></div>
                                {% else %}
                                <div class="media-left"><a href="#"><img src="/images/AnhBaiViet/camera.png"
                                                                         style="width: 64px; height: 64px;"> </a></div>
                                {% endif %}
                            </td>
                            <td><span style="color: #000; font-weight: bold">{{baiViet.TieuDe}}</span><br><small>{{ baiViet.NoiDung | striptags | slice(0, 200) ~ '...' }}</small></td>
                            <td>{{baiViet.NgayDuaTin|date("d/m/Y")}}</td>
                            <td>@Nguyễn Hữu Tý</td>
                            <td><a class="btn btn-primary btn-sm" href="/admin/bai-viet/{{ baiViet.MaBaiViet }}/get-sua-bai-viet"><i class="fa fa-edit"></i> Chỉnh sửa</a><button class="btn btn-primary btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i> Xóa</button></td>
                        </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% endblock %}
