{% extends "base.html" %}
{% block title %}
Chi tiết hồ sơ
{% endblock %}
{% block body %}
<!-- page content -->
<div class="right_col" role="main">
    <div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Chi tiết hồ sơ</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-3 col-xs-12">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <img class="img-responsive avatar-view" src="/images/picture.jpg" alt="Avatar"
                                         title="">
                                </div>
                            </div>
                            <h3>{{ hoSo.HoTen}}</h3>
                            <ul class="list-unstyled user_data">
                                <li>
                                    <i class="fa fa-birthday-cake"></i> Ngày sinh: {{hoSo.NgaySinh}}
                                </li>

                                <li>
                                    <i class="fa fa-map-o"></i> Quê quán:
                                </li>

                                <li>
                                    <i class="fa fa-map-marker"></i> Địa chỉ:
                                </li>
                            </ul>
                            <div class="row">
                                <div class="container">
                                    <div class="col-md-6"><a class="btn btn-danger" style="width: 100%" href="/admin/ho-so-ngoai-toc/{{hoSo.MaHoSo}}/them-vo-chong">
                                        <i class="fa fa-edit m-right-xs"></i> Thêm vợ </a>
                                        <br/></div>
                                    <div class="col-md-6"><a class="btn btn-success" style="width: 100%" href="/admin/ho-so/{{hoSo.MaHoSo}}/them-con">
                                        <i class="fa fa-child m-right-xs"></i> Thêm con</a>
                                        <br/></div>
                                </div>
                            </div>


                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="profile_title">
                                <div class="col-md-12">
                                    <h2>Thông tin cá nhân</h2>
                                </div>
                            </div>
                            <br>
                            <form class="form-horizontal form-label-left"
                                  novalidate="">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Bố
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select class="form-control" disabled>
                                            <option>{{hoSoBo.HoTen}}</option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Mẹ
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select class="form-control" disabled>
                                            <option>{{hoSo.MaHoSoMe}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <label for="middle-name"
                                           class="control-label col-md-3 col-sm-3 col-xs-12">Họ và tên</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text"
                                               name="middle-name" value="{{hoSo.HoTen}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Giới tính</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div id="gender" class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default" data-toggle-class="btn-primary"
                                                   data-toggle-passive-class="btn-default">
                                                <input type="radio" name="gender" value="male"
                                                       data-parsley-multiple="gender"> &nbsp; Nam &nbsp;
                                            </label>
                                            <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                   data-toggle-passive-class="btn-default">
                                                <input type="radio" name="gender" value="female"
                                                       data-parsley-multiple="gender"> &nbsp; Nữ &nbsp;
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ngày sinh
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input id="birthday" class="date-picker form-control col-md-7 col-xs-12"
                                               required="required" type="date" value="{{hoSo.NgaySinh}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Quê quán
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12"
                                               required="required" type="text" value="{{hoSo.QueQuan}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Đời thứ
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12"
                                               required="required" type="text" value="{{hoSo.DoiThu}}">
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Con thứ
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input id="birthday" class="date-picker form-control col-md-7 col-xs-12"
                                               required="required" type="text" value="{{hoSo.ConThu}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Email
                                        <span class="required"></span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12"
                                               required="required" type="text" value="{{hoSo.Email}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Địa chỉ liên hệ
                                        <span class="required"></span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12"
                                               required="required" type="text" value="{{hoSo.DiaChi}}">
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">SĐT
                                        <span class="required"></span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12"
                                               required="required" type="text" value="{{hoSo.SDT}}">
                                    </div>
                                </div>
                                <div class="bg-danger" style="border-radius: 5px; padding: 1em">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6">Ngày mất:</div>
                                            <div class="col-sm-6">Nơi mất:</div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">Ngày kỵ:</div>
                                            <div class="col-sm-6">Nơi an táng:</div>
                                            <div class="col-sm-6">Người kỵ:</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-success">Cập nhật thông tin</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            {% for vo in dsVo %}
                            {% if vo.hinhanh is not null and vo.hinhanh != '' %}
                            <div style="width: 150px; max-height: 150px">
                                <img src="/images/AnhHoSo/{{ vo.hinhanh }}" style="max-width: 100%">
                            </div>
                            {% endif %}
                            <h5><i class="fa fa-arrow-circle-o-up"></i> Vợ {{ vo.hoten }}</h5>
                            <p>Năm sinh: {{ vo.ngaysinh }}</p>
                            <p>Quê quán: {{vo.quequan }}</p>
                            <p>Ngày mất : {{vo.ngaymat }}</p>
                            <p>Nơi mất: </p>
                            <p>Nơi an táng: {{vo.noiantang}}</p>
                            <p>Sinh hạ:</p>
                            <ol>
                                {% for con in dsCon %}
                                {% if con.mahosome == vo.mahosont %}
                                <li><a class="btn btn-link" href="#">Con thứ: {{con.conthu}} - {{con.hoten}}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ol>
                            <a class="btn btn-success btn-sm" href="/admin/ho-so-ngoai-toc/{{vo.mahosont}}">
                                <i class="fa fa-edit m-right-xs"></i> Chỉnh sửa</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Sơ đồ gia đình
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content" style="overflow: hidden">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            {% if hoSoOng is not null %}
                            <tr>
                                <td colspan="3" align="center" valign="middle">

                                    <div class="hopTo">
                                        Ông nội: <br>
                                        <span>Đời thứ: {{ hoSoOng.doithu }} - Con thứ: {{ hoSoOng.conthu }}</span><br><a
                                            href="/ho-so/{{ hoSoOng.mahoso }}">{{ hoSoOng.hoten }}</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" height="10" align="center" valign="middle"><img
                                        src="/images/down.gif"></td>
                            </tr>
                            {% endif %}

                            {% if hoSoBo is not null %}
                            <tr>
                                <td colspan="3" align="center" valign="middle">
                                    <div class="hopTo">
                                        Bố: <br>
                                        <span>Đời thứ: {{ hoSoBo.DoiThu }} - Con thứ: {{ hoSoBo.ConThu }}</span><br><a

                                            href="/ho-so/{{ hoSoBo.MaHoSo }}">{{ hoSoBo.HoTen }}</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" height="10" align="center" valign="middle"><img
                                        src="/images/down.gif"></td>
                            </tr>
                            {% endif %}
                            {% set count = dsAnhEm|length %}
                            {% if count == 0 %}
                            {% set count = 1 %}
                            {% endif %}
                            {% set percent = 100/count %}
                            {% set linePercent = 100/count %}
                            {% set marginPercent = linePercent/2 %}
                            {% set viTri = 0 %}
                            <tr>
                                <td colspan="3" align="center" style="position: relative"><img
                                        src="/images/VLine.jpg" width="{{linePercent*(count-1)}}%"
                                        height="1px" style="position: absolute; left: {{marginPercent}}%">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            {% for anhEm in dsAnhEm %}
                                            <td width="{{percent}}%" align="center" valign="top"
                                                style="vertical-align:middle;">
                                                <div align="center"><img
                                                        src="/images/down.gif"></div>
                                                <div class="hopNho"
                                                     style="max-height: 105px; {% if anhEm.MaHoSo == hoSo.MaHoSo %} background-image: url('/images/phado_c.gif'); {% endif %}">
                                                    Anh em: <br>
                                                    <span>Đời thứ: {{ anhEm.DoiThu }} - Con thứ: {{ anhEm.ConThu }}</span><br><a
                                                        style="color: chocolate;"
                                                        href="/ho-so/{{anhEm.MaHoSo}}"><b>{{ anhEm.HoTen }}</b></a>
                                                </div>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% set viTri = 0 %}
                                            {% set break = 0 %}
                                            {% set position = 0 %}
                                            {% for anhEm in dsAnhEm if break == 0 %}
                                            {% set viTri = viTri+1 %}
                                            {% if anhEm.MaHoSo == hoSo.MaHoSo %}
                                            {% set break = 1 %}
                                            {% set position = viTri %}
                                            {% else %}
                                            <td></td>
                                            {% endif %}
                                            {% endfor %}

                                            <td align="center" valign="middle"><img src="/images/down.gif"></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                {% set count = dsCon|length %}
                                {% if count == 0 %}
                                {% set count = 1 %}
                                {% endif %}
                                {% set percent = 100/count %}
                                {% set linePercent = 100/count %}
                                {% set marginPercent = linePercent/2 %}
                                {% set viTri = 0 %}


                                <td colspan="3" align="center" style="position: relative"><img
                                        src="/images/VLine.jpg" width="{{linePercent*(count-1)}}%"
                                        height="1px" style="position: absolute; left: {{marginPercent}}%">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            {% for con in dsCon %}
                                            <td width="{{percent}}%" align="center" valign="top"
                                                style="vertical-align:middle; min-height: 200px; float: left">
                                                <div align="center"><img
                                                        src="/images/down.gif"></div>
                                                <div class="hopNho">
                                                    Con: <br>
                                                    <span>Đời thứ: {{con.doithu}} - Con thứ: {{con.conthu}}</span><br><a
                                                        href="/ho-so/{{con.mahoso}}">{{con.hoten}}</a>
                                                </div>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-graduation-cap"></i> Học vấn
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="list-unstyled timeline">
                            <li>
                                <div class="block">
                                    <div class="tags">
                                        <a href="" class="tag">
                                            <span>1997-2002</span>
                                        </a>
                                    </div>
                                    <div class="block_content">
                                        <h2 class="title">
                                            <a>Học THPT</a>
                                        </h2>
                                        <div class="byline">
                                            <span>tại </span>
                                            <a>Trường THPT số 1 Quảng Trạch</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            <i class="fa fa-align-left"></i> Lịch sử công tác
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /page content -->

{% endblock %}