{% extends "base_user.html" %}
{% block title %}
Phả đồ
{% endblock %}
{% block css %}
<link href="/css/treemenu.css" rel="stylesheet">
{% endblock %}
{% block body %}
<section class="content clearfix">
    <div class="container">
        <div class="search-bar clearfix">
            <ul class="breadcrumb left clearfix">
                <li class="start">
                    <h4>
                        <a href="javascript:void(0);" title="Trang nhất">Phả đồ dạng đứng</a>
                    </h4>
                </li>
            </ul>
            <div id="search-box">
                <input type="text" name="keywords">
                <input type="button" value="Tìm kiếm">
            </div>
        </div>
        <div class="floating-tree">
            {{giaPhaNguoiDung()}}
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}
{% endblock %}