{% extends "base_user.html" %}
{% block title %}
Phả đồ
{% endblock %}
{% block css %}
<link href="/css/styles.css" rel="stylesheet">
<style>
    button {
        margin: .5em;
        width: 2em;
    }
</style>
{% endblock %}
{% block body %}
<section class="content clearfix">
    <div class="container">
        <div class="search-bar clearfix">
            <ul class="breadcrumb left clearfix">
                <li class="start">
                    <h4>
                        <a href="javascript:void(0);" title="Phả đồ cây">Phả đồ dạng cây</a>
                    </h4>
                </li>
            </ul>
        </div>
    </div>
    <div style="overflow-y: hidden" class="zoomViewport">
        <div class="tree zoomContainer" style="overflow: hidden;">
            {{ inGiaPhaDangCay(hoSo.MaHoSo) }}
        </div>
    </div>
</section>
{% endblock %}