{% extends "base_user.html" %}
{% block title %}
Trang chủ
{% endblock %}
{% block css %}
<link href="/css/styles.css" rel="stylesheet">
<style>
    button {
        margin: .5em;
        width: 2em;
    }
</style>
{% endblock %}
{% block body %}
<section class="content clearfix">
    <div class="container">
        <div class="search-bar clearfix">
            <ul class="breadcrumb left clearfix">
                <li class="start">
                    <h4>
                        <a href="javascript:void(0);" title="Trang nhất">Phả đồ dạng cây</a>
                    </h4>
                </li>
            </ul>
            <div id="search-box">
                <input type="text" name="keywords">
                <input type="button" value="Tìm kiếm">
            </div>
        </div>
        <div style="overflow-y: hidden">
            <div class="tree">
                {{ inGiaPhaDangCay() }}
            </div>
        </div>
    </div>
</section>
{% endblock %}