{% extends "base_user.html" %}
{% block title %}
Trang chủ
{% endblock %}
{% block body %}
<section class="content clearfix">
    <div class="container">
        <div class="search-bar clearfix">
            <ul class="breadcrumb left clearfix">
                <li class="start">
                    <h4>
                        <a href="javascript:void(0);" title="Trang nhất">Trang nhất</a>
                    </h4>
                </li>
            </ul>
            <div id="search-box">
                <input type="text" name="keywords">
                <input type="button" value="Tìm kiếm">
            </div>
        </div>
        <div class="col-9">
            {% for baiViet in dsBaiViet|slice(0, 1) %}
            <div class="col-9">
                <div id="big-news">
                    <div class="thumb">
                        <a href="/bai-viet/{{baiViet.MaBaiViet}}">
                        {% if baiViet.HinhAnh is not null and baiViet.HinhAnh != '' %}
                        <img src="/images/AnhBaiViet/{{ baiViet.HinhAnh }}" alt="">
                        {% else %}
                        <img src="/images/AnhBaiViet/camera.png" alt="">
                        {% endif %}
                        </a>
                    </div>
                    <h5><a href="/bai-viet/{{baiViet.MaBaiViet}}">{{baiViet.TieuDe}}</a></h5>
                    <small>
                        <i>Nguyễn Hữu Tý</i> - Thứ hai, 20/11/2017
                    </small>
                    <p>{{ rutGonHTML(baiViet.NoiDung) |slice(0, 200) ~ '...' }}</p>
                </div>
            </div>
            {% endfor %}

            <div class="col-3" id="bai-viet-gan">
                <div class="header-box">
                    <h4>
                        <i class="fa fa-address-book"></i> Bài viết gần đây</h4>
                </div>
                <div id="danh-sach">
                    {% for baiViet in dsBaiViet|slice(1, dsBaiViet|length ) %}
                    <div class="article">
                        <a href="/bai-viet/{{baiViet.MaBaiViet}}">
                            <a href="/bai-viet/{{baiViet.MaBaiViet}}">
                                <h5>{{baiViet.TieuDe}}</h5>
                            </a>
                        </a>
                        <p>{{ rutGonHTML(baiViet.NoiDung) |slice(0, 200) ~ '...' }}</p>
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <a href="#" class="view-all">Xem tất cả
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-3">
            <div id="su-kien">
                <div class="header-box">
                    <h4>
                        <i class="fa fa-address-book"></i> Sự kiện - Tin tức</h4>
                </div>
                <article class="list-events">
                    {% for baiViet in dsBaiViet|slice(0, 3) %}
                    <div class="event">
                        <h5 class="title-events">
                            <a href="/bai-viet/{{baiViet.MaBaiViet}}">{{baiViet.TieuDe}}</a>
                        </h5>
                        <div class="thumb-su-kien">
                            <a href="/bai-viet/{{baiViet.MaBaiViet}}">
                                {% if baiViet.HinhAnh is not null and baiViet.HinhAnh != '' %}
                                <img style="float: left; height: 64px; width: 64px" src="/images/AnhBaiViet/{{ baiViet.HinhAnh }}" alt="">
                                {% else %}
                                <img style="float: left; height: 64px; width: 64px" src="/images/AnhBaiViet/camera.png" alt="">
                                {% endif %}
                            </a>
                        </div>
                        <p class="description">{{ rutGonHTML(baiViet.NoiDung) |slice(0, 200) ~ '...' }}</p>
                        <hr>
                    </div>
                    {% endfor %}

                </article>
                <a href="/user/LoaiTin/index/1" class="view-all">Xem tất cả
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>

        </div>
    </div>
</section>
{% endblock %}