{% extends "base_user.html" %}
{% block title %}
Trang chủ
{% endblock %}
{% block body %}
<section class="content clearfix">
    <div class="container">
        <div class="search-bar clearfix">
            <ul class="breadcrumb left clearfix">
                <li class="start">
                    <h4>
                        <a href="javascript:void(0);" title="Trang nhất">Trang nhất</a>
                    </h4>
                </li>
            </ul>
            <div id="search-box">
                <input type="text" name="keywords">
                <input type="button" value="Tìm kiếm">
            </div>
        </div>
        <div class="col-9">

            <div class="col-9">
                <div id="big-news">
                    <div class="thumb">
                        <img src="/images/anh1.jpg" alt="">
                    </div>
                    <h5>Ông Trần Hồng Hà: Thiệt hại do mưa lũ một phần vì dự báo chưa chính xác</h5>
                    <small>
                        <i>Nguyễn Hữu Tý</i> - Thứ hai, 20/11/2017</small>
                    <p>Bộ Tài nguyên đang bổ sung khoảng 3.000 điểm dự báo mưa, đạt 40-100 km2 có một trạm.</p>
                </div>

            </div>
            <div class="col-3" id="bai-viet-gan">
                <div class="header-box">
                    <h4>
                        <i class="fa fa-address-book"></i> Bài viết gần đây</h4>
                </div>
                <div id="danh-sach">
                    <div class="article">
                        <a href="#">
                            <a href="#">
                                <h5>Xin chào</h5>
                            </a>
                        </a>
                        <p>Bộ Tài nguyên đang bổ sung khoảng 3.000 điểm dự báo mưa, đạt 40-100 km2 có một trạm.</p>
                        <hr>
                    </div>
                    <div class="article">
                        <a href="#">
                            <a href="#">
                                <h5>Xin chào</h5>
                            </a>
                        </a>
                        <p>Bộ Tài nguyên đang bổ sung khoảng 3.000 điểm dự báo mưa, đạt 40-100 km2 có một trạm.</p>
                        <hr>
                    </div>
                    <div class="article">
                        <a href="#">
                            <a href="#">
                                <h5>Xin chào</h5>
                            </a>
                        </a>
                        <p>Bộ Tài nguyên đang bổ sung khoảng 3.000 điểm dự báo mưa, đạt 40-100 km2 có một trạm.</p>
                        <hr>
                    </div>
                    <div class="article">
                        <a href="#">
                            <a href="#">
                                <h5>Xin chào</h5>
                            </a>
                        </a>
                        <p>Bộ Tài nguyên đang bổ sung khoảng 3.000 điểm dự báo mưa, đạt 40-100 km2 có một trạm.</p>
                        <hr>
                    </div>
                    <div class="article">
                        <a href="#">
                            <a href="#">
                                <h5>Xin chào</h5>
                            </a>
                        </a>
                        <p>Bộ Tài nguyên đang bổ sung khoảng 3.000 điểm dự báo mưa, đạt 40-100 km2 có một trạm.</p>
                        <hr>
                    </div>
                    <div class="article">
                        <a href="#">
                            <a href="#">
                                <h5>Xin chào</h5>
                            </a>
                        </a>
                        <p>Bộ Tài nguyên đang bổ sung khoảng 3.000 điểm dự báo mưa, đạt 40-100 km2 có một trạm.</p>
                        <hr>
                    </div>
                    <div class="article">
                        <a href="#">
                            <a href="#">
                                <h5>Xin chào</h5>
                            </a>
                        </a>
                        <p>Bộ Tài nguyên đang bổ sung khoảng 3.000 điểm dự báo mưa, đạt 40-100 km2 có một trạm.</p>
                        <hr>
                    </div>
                </div>
            </div>
            <a href="#" class="view-all">Xem tất cả
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-3">
            <div id="su-kien">
                <div class="header-box">
                    <h4>
                        <i class="fa fa-address-book"></i> Sự kiện - Tin tức</h4>
                </div>
                <article class="list-events">
                    <div class="event">
                        <h5 class="title-events">
                            <a href="#">
                                Ba cửa hàng Khaisilk ở Sài Gòn bị kiểm tra </a>
                        </h5>
                        <div class="thumb-su-kien">
                            <a>
                                <img src="/images/anh1.jpg" alt="Ba cửa hàng Khaisilk ở Sài Gòn bị kiểm tra">
                            </a>
                        </div>
                        <p class="description">
                            Các cửa hàng của Khaisilk ở trung tâm TP HCM bị lực lượng chức năng đồng loạt kiểm tra. Các cửa hàng của Khaisilk ở tru</p>
                        <hr>
                    </div>
                    <div class="event">
                        <h5 class="title-events">
                            <a href="#">
                                Ba cửa hàng Khaisilk ở Sài Gòn bị kiểm tra </a>
                        </h5>
                        <div class="thumb-su-kien">
                            <a>
                                <img src="/images/anh1.jpg" alt="Ba cửa hàng Khaisilk ở Sài Gòn bị kiểm tra">
                            </a>
                        </div>
                        <p class="description">
                            Các cửa hàng của Khaisilk ở trung tâm TP HCM bị lực lượng chức năng đồng loạt kiểm tra. Các cửa hàng của Khaisilk ở tru</p>
                        <hr>
                    </div>
                    <div class="event">
                        <h5 class="title-events">
                            <a href="#">
                                Ba cửa hàng Khaisilk ở Sài Gòn bị kiểm tra </a>
                        </h5>
                        <div class="thumb-su-kien">
                            <a>
                                <img src="/images/anh1.jpg" alt="Ba cửa hàng Khaisilk ở Sài Gòn bị kiểm tra">
                            </a>
                        </div>
                        <p class="description">
                            Các cửa hàng của Khaisilk ở trung tâm TP HCM bị lực lượng chức năng đồng loạt kiểm tra. Các cửa hàng của Khaisilk ở tru</p>
                        <hr>
                    </div>
                </article>
                <a href="#" class="view-all">Xem tất cả
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>

        </div>
    </div>
</section>
{% endblock %}