{% extends "base.html" %}
{% block title %}
Hồ sơ ngoại tộc
{% endblock %}
{% block body %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Hồ sơ ngoại tộc</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Chi tiết hồ sơ
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    {% if hoSo.HinhAnh %}
                                    <img class="img-responsive avatar-view" src="/images/AnhHoSo/{{hoSo.HinhAnh}}"
                                         alt="Avatar"
                                         title="" style="min-width: 100%">
                                    {% else %}
                                    <img class="img-responsive avatar-view" src="/images/AnhHoSo/user.png" alt="Avatar"
                                         title="" style="min-width: 100%">
                                    {% endif %}
                                </div>
                            </div>
                            <h3>{{ hoSo.HoTen}}</h3>

                            <ul class="list-unstyled user_data">
                                <li>
                                    <i class="fa fa-birthday-cake"></i> Ngày sinh: {{hoSo.NgaySinh|date("d/m/Y")}}
                                </li>

                                <li>
                                    <i class="fa fa-map-o"></i> Quê quán: {{hoSo.QueQuan}}
                                </li>

                                <li>
                                    <i class="fa fa-map-marker"></i> Địa chỉ: {{hoSo.DiaChi}}
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-md-6"><a class="btn btn-success" style="width: 100%"
                                                         href="/admin/ho-so/{{hoSoPhuThuoc.MaHoSo}}/them-con">
                                    <i class="fa fa-child m-right-xs"></i> Thêm con</a>
                                    <br/></div>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9">
                            <div class="profile_title">
                                <div class="col-md-12">
                                    <h2>Thông tin cá nhân</h2>
                                </div>

                            </div>
                            <br>
                            <form action="/admin/ho-so-ngoai-toc/{{hoSo.MaHoSoNT}}/cap-nhat" enctype="multipart/form-data" method="post" class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Hồ sơ phụ thuộc
                                        <span class="required"></span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12 disabled"
                                               required="required" type="text" value="{{hoSo.MaHoSoNT}}">
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Họ tên chồng (vợ)
                                        <span class="required"></span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12 disabled">
                                        <input class="form-control col-md-7 col-xs-12" type="text" value="{{hoSoPhuThuoc.HoTen}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Họ tên bố
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" name="hoTenMe" type="text" value="{{hoSo.HoTenBo}}">
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Họ tên mẹ
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" name="hoTenBo" type="text" value="{{hoSo.HoTenMe}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Họ và tên</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" type="text"
                                               name="hoTen" value="{{hoSo.HoTen}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Giới tính</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div id="gender" class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default" data-toggle-class="btn-primary"
                                                   data-toggle-passive-class="btn-default">
                                                <input type="radio" name="gioiTinh" value="male"
                                                       data-parsley-multiple="gender"> &nbsp; Nam &nbsp;
                                            </label>
                                            <label class="btn btn-primary" data-toggle-class="btn-primary"
                                                   data-toggle-passive-class="btn-default">
                                                <input type="radio" name="gioiTinh" value="female"
                                                       data-parsley-multiple="gender"> &nbsp; Nữ &nbsp;
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ngày sinh
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" name="ngaySinh" type="date" value="{{hoSo.NgaySinh}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Quê quán
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12"
                                               name="queQuan" type="text" value="{{hoSo.QueQuan}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Đời thứ
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12"
                                               name="doiThu" type="text" value="{{hoSo.DoiThu}}" >
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Con thứ
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" name="conThu" type="text" value="{{hoSo.ConThu}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Email
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12"
                                               name="email" type="text" value="{{hoSo.Email}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Địa chỉ liên hệ
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" name="diaChi" type="text" value="{{hoSo.DiaChi}}">
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">SĐT
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" name="sdt" type="text" value="{{hoSo.SDT}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Hình ảnh</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="file" class="form-control" name="hinhAnh" id="hinhAnh">
                                    </div>
                                </div>
                                <div class="bg-danger" style="border-radius: 5px; padding: 1em">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6">Ngày mất: <input value="{{hoSo.NgayMat}}" type="date"
                                                                                   name="ngayMat"></div>
                                            <div class="col-sm-6">Nơi mất: <input type="text"></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">Ngày kỵ: <input type="text"></div>
                                            <div class="col-sm-6">Nơi an táng: <input value="{{hoSo.NoiAnTang}}"
                                                                                      type="text" name="noiAnTang">
                                            </div>
                                            <div class="col-sm-6">Người kỵ: <input type="text"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-success">Thêm</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /page content -->

{% endblock %}