{% extends "base_user.html" %}
{% block title %}
Phả đồ
{% endblock %}
{% block css %}
<link href="/css/style.css" rel="stylesheet">
<style>
    .thumb {
        width: 50px;
        height: 50px;
    }
</style>
<script>
    function showInfo(button) {
        var maHoSo = $(button).prevAll(".maHoSo").val();
        console.log(maHoSo);
        modal.style.display = "block";
        openPage("api/ajax/index?maHoSo=" + maHoSo);
    }


    function showSearchResult(keywords, option, status) {
        url = "api/ajax/renderResultSearch?keywords=" + keywords + "&option=" + option + "&status=" + status;;
        if (url.indexOf("?") == -1) {
            url = url + "?";
        }
        var encodedUrl = encodeURI(url);
        $("#resultSearch").load(encodedUrl);
    }

    function openPage(url) {
        if (url.indexOf("?") == -1) {
            url = url + "?";
        }

        var encodedUrl = encodeURI(url);
        $("#mainContent").load(encodedUrl);
        $("body").scrollTop(0);
    }
</script>
{% endblock %}
{% block body %}
<section class="content clearfix">
    <div class="container">
        <div class="search-bar clearfix">
            <ul class="breadcrumb left clearfix">
                <li class="start">
                    <h4>
                        <a href="javascript:void(0);" title="Trang tìm kiếm">Trang tìm kiếm</a>
                    </h4>
                </li>
            </ul>
        </div>
        <div style="display: flex">
            <div id="divKeywordSearch"
                 style="border: 2px solid #f2f2f2; padding: 20px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);">
                <label for="txtKeywordSearch">Tiêu chí tìm kiếm</label>

                <div><input type="text" id="txtKeywordSearch" placeholder="Nhập từ khóa tìm kiếm..." value=""></div>
                <div class="search-radio-selectors" id="guidedFieldSelectors">
                    <table>
                        <tr>
                            <td>
                                <input type="radio" name="SearchTag" value="hoTen" id="guidedField_1">
                                <label for="guidedField_1">Họ tên</label>
                            </td>
                            <td>
                                <input type="radio" name="SearchTag" value="hoTenBo" id="guidedField_2">
                                <label for="guidedField_2">Họ tên bố</label>
                            </td>
                            <td>
                                <input type="radio" name="SearchTag" value="namSinh" id="guidedField_3">
                                <label for="guidedField_3">Năm sinh</label>
                            </td>
                            <td>
                                <input type="radio" name="SearchTag" value="doiThu" id="guidedField_4">
                                <label for="guidedField_4">Đời thứ</label>
                            </td>
                            <td>
                                <input type="radio" name="SearchTag" value="conThu" id="guidedField_5">
                                <label for="guidedField_5">Con thứ</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Tình trạng:  </span>
                            </td>
                            <td>
                                <input type="checkbox" checked name="isLive" id="isLive"> Còn sống
                            </td>
                            <td>
                                <input type="checkbox" checked name="isDie" id="isDie"> Đã mất
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-actions-search">
                    <a id="btnRefresh" class="btn">
                        <button> Làm lại</button>
                    </a>
                    <a id="btnSearch" class="btn">
                        <button><i class="fa fa-search"></i> Tìm kiếm</button>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div style="display: flex; flex-direction:row;">
            <div style="flex: 1;">
                <div id="resultSearch">
                    <p>Tìm thấy <b>{{dsHoSo|length}}</b> kết quả:</p>
                    {% for hoSo in dsHoSo %}
                    <input type="hidden" class="maHoSo" value="{{hoSo.MaHoSo}}">
                    <a href="javascript:;" onclick="showInfo(this);return false;" target="_self">
                        <div class="item-search" style="">
                            <div class="thumb" style="float: left;">
                                <img src="/images/user.png" alt="" style="width: 100%">
                            </div>
                            <div class="info-item-search" style="float: left; margin-left: 1em">
                                <h5>{{hoSo.HoTen}}</h5>
                                <small style="color: red">Đời thứ: {{hoSo.DoiThu}}, Con thứ {{hoSo.ConThu}}</small>
                                <p>Quê quán: {{hoSo.QueQuan}}</p>
                                <p>
                                    <span>Ngày sinh:
                                        {% if hoSo.NgaySinh is not null and hoSo.NgaySinh != '0000-00-00' %}
                                            {{hoSo.NgaySinh | date("d/m/Y")}}
                                        {% endif %}
                                    </span> -
                                    <span>Ngày mất:
                                        {% if hoSo.NgayMat is not null and hoSo.NgayMat != '0000-00-00' %}
                                            {{hoSo.NgayMat | date("d/m/Y")}}
                                        {% endif %}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div style="flex: 1;">
                <div id="myModal">
                    <div class="modal-content" style="width: 100%; margin-left: 1em; margin-right: 0;">
                        <span class="close">&times;</span>
                        <h3>Thông tin cá nhân</h3>
                        <div id="mainContent">
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <button id="myBtn" style="display: none"></button>
    </div>
</section>
<script>
    var modal = document.getElementById('myModal');
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function () {
        modal.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    var txtKeywordSearch = document.getElementById("txtKeywordSearch");
    var btnSearch = document.getElementById("btnSearch");
    var btnRefresh = document.getElementById("btnRefresh");
    btnRefresh.addEventListener('click', function () {
        txtKeywordSearch.value = '';
    });
    btnSearch.addEventListener('click', function () {
        var selectedVal = "";
        var selected = $("#divKeywordSearch input[type='radio']:checked");
        var isLive = document.getElementById("isLive").checked;
        var isDie = document.getElementById("isDie").checked;
        var status = '';
        if (isLive && isDie) {
            status = 'all';
        }
        else if (isLive) {
            status = 'live';
        } else if (isDie){
            status = 'die';
        } else {
            alert("Vui lòng chọn tình trạng !");
            document.getElementById("isLive").focus();
        }
        console.log(status);
        if (selected.length > 0) {
            selectedVal = selected.val();
            if (selectedVal == 'namSinh') {
                if (!Number.isInteger(parseInt(txtKeywordSearch.value))) {
                    alert("Vui lòng nhập năm sinh là số");
                    return;
                } else {
                    showSearchResult(txtKeywordSearch.value, selectedVal, status);
                }
            }
            else {
                showSearchResult(txtKeywordSearch.value, selectedVal, status);
            }
        }
    })
</script>
{% endblock %}