{% extends "base_user.html" %}
{% block title %}
Phả đồ
{% endblock %}
{% block css %}
<link href="/css/styles.css" rel="stylesheet">
<style>
    .hopTo {
        padding: 0.5em;
        width: 20rem;
        text-align: center;
        vertical-align: middle;
        background-image: url('/images/phado.gif');
        overflow: hidden;
    }

    .hopNho {
        padding: 0.5em;
        text-align: center;
        vertical-align: middle;
        position: relative;
        background-image: url('/images/phado.gif');
        overflow: hidden;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 99999; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    @media (max-width: 576px) {

    }

    .thumb {
        width: 50px;
        height: 50px;
    }

    .item-search {
        float: left;
        width: 100%;
        border: 1px solid #1ABB9C;
        border-radius: 3px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
        transition: all 200ms ease-out;
        padding: .25em;
        margin-bottom: .5em;
    }
    .item-search:hover {
        box-shadow: 0 0 6px rgba(35, 173, 255, 1);
    }
    .wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .wrapper .oneOfThree {
        width: 33.33%;
    }

    .wrapper .twoOfThree {
        width: 66.66%;
    }
</style>

<script>
    function showInfo(button) {
        var maHoSo = $(button).prevAll(".maHoSo").val();
        console.log(maHoSo);
        modal.style.display = "block";
        openPage("api/ajax/index?maHoSo=" + maHoSo);
    }


    function showSearchResult(keywords, option) {
        url = "api/ajax/renderResultSearch?keywords=" + keywords+"&option=" + option;
        if (url.indexOf("?") == -1) {
            url = url + "?";
        }
        var encodedUrl = encodeURI(url);
        $("#resultSearch").load(encodedUrl);
    }

    function openPage(url) {
        if (url.indexOf("?") == -1) {
            url = url + "?";
        }

        var encodedUrl = encodeURI(url);
        $("#mainContent").load(encodedUrl);
        //noinspection JSUnresolvedFunction,JSUnresolvedFunction,JSValidateTypes
        $("body").scrollTop(0);
//        history.pushState(null, null, url);
    }
</script>
{% endblock %}
{% block body %}
<section class="content clearfix">
    <div class="container">
        <div class="search-bar clearfix">
            <ul class="breadcrumb left clearfix">
                <li class="start">
                    <h4>
                        <a href="javascript:void(0);" title="Trang tìm kiếm">Trang tìm kiếm</a>
                    </h4>
                </li>
            </ul>
        </div>
        <div style="display: flex">
        <div id="divKeywordSearch" style="border: 2px solid #f2f2f2; padding: 20px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);">
                <label for="txtKeywordSearch" >Tiêu chí tìm kiếm</label>
                <div><input type="text" id="txtKeywordSearch"  placeholder="Nhập từ khóa tìm kiếm..." value=""></div>
                <div><input type="text" style="display:none"> </div>
                <div class="search-radio-selectors" id="guidedFieldSelectors">
                    <input type="radio" checked="checked" name="SearchTag" value="all" id="guidedField_0">
                    <label for="guidedField_0" >Tất cả</label>
                    <input type="radio" name="SearchTag" value="hoTen" id="guidedField_1">
                    <label for="guidedField_1" >Họ tên</label>
                    <input type="radio" name="SearchTag" value="hoTenBo" id="guidedField_2">
                    <label for="guidedField_2" >Họ tên bố</label>
                    <input type="radio" name="SearchTag" value="namSinh" id="guidedField_3">
                    <label for="guidedField_3" >Năm sinh</label>
                </div>
                <div class="form-actions-search">
                    <a id="btnSearch" class="btn"><button><i class="fa fa-search"></i> Tìm kiếm </button></a>
                    <a id="btnRefresh" class="btn"><button> Làm lại </button></a>
                </div>
            </div>

        </div>

        <br>
        <br>
        <div style="display: flex; flex-direction:row;">
            <div style="flex: 1;">

                <div id="resultSearch">
                    <p>Tìm thấy <b>{{dsHoSo|length}}</b> kết quả:</p>
                    {% for hoSo in dsHoSo %}
                    <input type="hidden" class="maHoSo" value="{{hoSo.MaHoSo}}">
                    <a href="javascript:;" onclick="showInfo(this);return false;" target="_self">
                        <div class="item-search" style="">
                            <div class="thumb" style="float: left;">
                                <img src="/images/user.png" alt="" style="width: 100%">
                            </div>
                            <div class="info-item-search" style="float: left; margin-left: 1em">
                                <h5>{{hoSo.HoTen}}</h5> <small style="color: red">Đời thứ: {{hoSo.DoiThu}}, Con thứ {{hoSo.ConThu}}</small>
                                <p>Quê quán: {{hoSo.QueQuan}}</p>
                                <p><span>Ngày sinh: {{hoSo.NgaySinh}}</span> - <span>Ngày mất: {{hoSo.NgayMat}}</span></p>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div style="flex: 1;">
                <div id="myModal">
                    <div class="modal-content" style="width: 100%; margin-left: 1em; margin-right: 0;">
                        <span class="close">&times;</span>
                        <h3>Thông tin cá nhân</h3>
                        <div id="mainContent">
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <button id="myBtn" style="display: none"></button>
    </div>
</section>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    var txtKeywordSearch = document.getElementById("txtKeywordSearch");
    var btnSearch = document.getElementById("btnSearch");
    var btnRefresh = document.getElementById("btnRefresh");
    btnRefresh.addEventListener('click',function () {
        txtKeywordSearch.value = '';
    });
    btnSearch.addEventListener('click', function () {

        var selectedVal = "";
        var selected = $("#divKeywordSearch input[type='radio']:checked");
        if (selected.length > 0) {
            selectedVal = selected.val();
            if (selectedVal == 'namSinh') {
                if (!Number.isInteger(parseInt(txtKeywordSearch.value))) {
                    alert("Vui lòng nhập năm sinh là số");
                    return;
                } else {
                    showSearchResult(txtKeywordSearch.value, selectedVal);
                }
            }
            else {
                showSearchResult(txtKeywordSearch.value, selectedVal);
            }
        }
    })

</script>
{% endblock %}