{% extends "base_user.html" %}
{% block title %}
Trang chủ
{% endblock %}
{% block body %}
<script src="/js/amlich-hnd.js" type="text/javascript"></script>
<section class="content clearfix">
    <div class="container">
        <div class="search-bar clearfix">
            <ul class="breadcrumb left clearfix">
                <li class="start">
                    <h4>
                        <a href="javascript:void(0);" title="Chi tiết bài viết">Chi tiết bài viết</a>
                    </h4>
                </li>
            </ul>
            <div id="search-box">
                <form action="/ket-qua-tim-kiem" method="get" id="search">
                    <input type="text" name="keywords">
                    <input type="submit" value="Tìm kiếm">
                </form>
            </div>
        </div>
        <div class="col-9">
            <h3>{{baiViet.TieuDe}}</h3>
            <small><i>{{baiViet.name}}</i> - Ngày viết: {{baiViet.NgayDuaTin|date("d/m/Y")}}</small>
            <div class="thumb">
                <img src="/images/AnhBaiViet/{{baiViet.HinhAnh}}" alt="">
            </div>
            <div>
                {{baiViet.NoiDung | raw }}
            </div>
        </div>
        <div class="col-3 clearfix">
            <div id="su-kien">
                <article class="list-events">
                    {% for baiViet in dsBaiViet|slice(0, 3) %}
                    <div class="event" style="margin-bottom: 1em">
                        <p class="title-events" style="font-size: 1rem">
                            <a href="/bai-viet/{{baiViet.MaBaiViet}}">{{baiViet.TieuDe}}</a>
                        </p>
                        <div class="thumb-su-kien" style="float: left; height: 50px; overflow: hidden">
                            <a href="/bai-viet/{{baiViet.MaBaiViet}}">
                                {% if baiViet.HinhAnh is not null and baiViet.HinhAnh != '' %}
                                <img style="width: 100px; float: left"
                                     src="/images/AnhBaiViet/{{ baiViet.HinhAnh }}" alt="">
                                {% else %}
                                <img style="width: 100px; float: left"
                                     src="/images/AnhBaiViet/camera.png" alt="">
                                {% endif %}
                            </a>
                        </div>
                        <small><i>{{baiViet.name}}</i> - Ngày viết: {{baiViet.NgayDuaTin|date("d/m/Y")}}</small>
                    </div>
                    <div class="clearfix"></div>
                    {% endfor %}

                </article>
                <a href="/user/LoaiTin/index/1" class="view-all">Xem tất cả
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}