{% extends "base_user.html" %}
{% block title %}
Trang chủ
{% endblock %}
{% block body %}
<script src="/js/amlich-hnd.js" type="text/javascript"></script>
<section class="content clearfix">
    <div class="container">
        <div class="search-bar clearfix">
            <ul class="breadcrumb left clearfix">
                <li class="start">
                    <h4>
                        <a href="javascript:void(0);" title="Chi tiết bài viết">Chi tiết bài viết</a>
                    </h4>
                </li>
            </ul>
        </div>
        <div class="col-9" style="padding-right: 1em">
            <h3>{{baiViet.TieuDe}}</h3>
            <small><i>{{baiViet.name}}</i> - Ngày viết: {{baiViet.NgayDuaTin|date("d/m/Y")}}</small>
            <div class="thumb">
                <img src="/images/AnhBaiViet/{{baiViet.HinhAnh}}" alt="">
            </div>
            <div>
                {{baiViet.NoiDung | raw }}
            </div>
        </div>
        <div class="col-3 block-border">
            {% for baiViet in dsBaiViet|slice(0, 5) %}
            <div class="thumb-su-kien" style="float: left; height: 50px; overflow: hidden">
                <a href="/bai-viet/{{baiViet.MaBaiViet}}">
                    {% if baiViet.HinhAnh is not null and baiViet.HinhAnh != '' %}
                    <img style="width: 100px; float: left"
                         src="/images/AnhBaiViet/{{ baiViet.HinhAnh }}" alt="">
                    {% else %}
                    <img style="width: 100px; float: left"
                         src="/images/AnhBaiViet/camera.png" alt="">
                    {% endif %}
                </a>
            </div>
            <div class="article">
                <a href="/bai-viet/{{baiViet.MaBaiViet}}">
                    <a href="/bai-viet/{{baiViet.MaBaiViet}}">
                        <p>{{baiViet.TieuDe}}</p>
                    </a>
                </a>
                <p class="short-text" style="min-height: 3em">{{ rutGonHTML(baiViet.NoiDung) |slice(0, 200) ~ '...' }}</p>
            </div>
            <div class="clearfix"></div>

            {% endfor %}
            <a href="/user/LoaiTin/index/1" class="view-all">Xem tất cả
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</section>
{% endblock %}